* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: rgb(243, 228, 204);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* navbar */

header {
  background-color: rgb(243, 228, 204);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0;
  font-size: 13px;
  font-weight: 600;
  transition: transform 1s ease-in-out;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding-bottom: 15px;
  transform: translateY(0%);
  transition: transform 1s ease-in-out;
}

.header-logo {
  img {
    width: 120px;
  }
}

.informations {
  width: 40%;
  max-width: 500px;
}

.informations .informations-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
}

.sign-up {
  padding: 15px 20px;
  background-color: blue;
  color: rgb(243, 228, 204);
  border-radius: 50px;
  width: fit-content;
}

.sign-up:hover {
  background-color: red;
}

.underlined {
  border-bottom: 2px solid blue;
}

.other-devices {
  display: none;
  cursor: pointer;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

/* Hero */

.hero {
  background-color: rgb(243, 228, 204);
  display: flex;
  padding: 150px 150px;
}

.word-part {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.explore {
  padding: 10px 15px;
  background-color: rgb(214, 211, 204);
  color: rgb(162, 150, 131);
  border-radius: 30px;
  font-weight: 500;
}

.explore img {
  position: relative;
  top: 4px;
  width: 30px;
  padding-left: 10px;
}

.title {
  padding: 40px 0;
  font-size: 50px;
}

.description {
  color: rgb(104, 96, 96);
  font-weight: 500;
  padding-bottom: 50px;
}

.hero-buttons {
  font-weight: 500;
  display: flex;
}

.plan a {
  background-color: red;
  color: white;
  padding: 15px 20px;
  border-radius: 30px;
  margin-right: 40px;
}

.watch-story {
  display: flex;

  img {
    width: 75px;
    position: relative;
    bottom: 25px;
    border-radius: 90px;
  }

  .fa-play {
    position: relative;
    bottom: 8px;
    right: 20px;
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 90px;
  }
}

.hero-story:hover {
  color: blueviolet;
}

.photo-part {
  width: 50%;
}

.main-hero-photo {
  width: 100%;
}

/* services */
.services {
  background-color: rgb(243, 228, 204);
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  --serviceBlock-width: 100%;
  p {
    color: rgb(104, 96, 96);
    font-weight: 400;
  }
  h3 {
    font-size: 20px;
    padding-bottom: 10px;
  }
  padding-bottom: 50px;
}

.block {
  width: calc(var(--serviceBlock-width) / 4 - 30px);
  img {
    width: 20%;
    padding-bottom: 10px;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  border-radius: 25px;
  position: relative;
}

.block-1 {
  bottom: 20px;
  .what {
    color: blueviolet;
    font-weight: 500;
    padding-bottom: 20px;
  }
  h2 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  p {
    color: rgb(104, 96, 96);
    font-weight: 400;
  }
  padding: 0;
}

.block-2 {
  bottom: 20px;
  background-color: blanchedalmond;
}

.block-3 {
  top: 20px;
  background-color: rgb(172, 241, 251);
}

.block-4 {
  bottom: 30px;
  background-color: rgb(190, 188, 186);
}

/* For the destinations */
.destinations {
  background-color: rgb(243, 228, 204);
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.top {
  color: blueviolet;
  font-weight: 600;
  padding-bottom: 20px;
}

.destination-h2 {
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 20px;
}

.all-destinations {
  position: relative;
  margin: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;

  flex-wrap: wrap;

  img {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    transition: all 0.8s ease;
  }

  img:hover {
    transform: scale(1.05);
  }
}

.price {
  position: absolute;
  color: blue;
  background-color: white;
  border-radius: 35px;
  width: 100px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  top: 5%;
  left: 20%;
  z-index: 1;
}

.destination {
  width: 25%;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  height: 100%;

  .image-container {
    border-radius: 30px;
  }
}

.review {
  display: flex;
  width: 100%;
}

/* Media Queries */
@media (max-width: 786px) {
  .informations {
    display: none;
    cursor: pointer;
  }

  .subscribe {
    display: none;
    cursor: pointer;
  }

  .menu-icon {
    display: block;
    font-size: 25px;
    margin-right: 40px;
  }

  header {
    justify-content: space-between;
  }

  .header-logo {
    img {
      margin-left: 40px;
    }
  }

  .other-devices {
    display: block;
  }

  .others {
    background-color: rgb(246, 244, 242);
    margin-top: 70px;
    padding-top: 40px;
    position: fixed;
    top: 0;
    height: calc(100vh - 70px);
    width: 50%;
    font-weight: 500;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 18px;
    transform: translateX(100%);
    transition: all 0.8s ease-in-out;
    z-index: 1000;
  }

  .informations-other {
    width: 100%;
    height: 60%;
    max-height: 500px;
    gap: 50px;
    margin-bottom: 200px;
  }

  .informations-list-other {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    height: 100%;
  }

  .subscribe-other {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 0;
    border-top: 1px solid rgba(130, 130, 142, 0.857);

    .login {
      margin-left: 30px;
      padding: 15px;
    }

    .sign-up {
      margin-right: 30px;
    }
  }

  .active {
    transform: translateX(-0%);
  }

  .hero {
    flex-direction: column;
    padding: 50px 50px;
  }

  .word-part {
    width: 100%;
  }

  .explore {
    font-size: 13.5px;
  }

  .title {
    font-size: 40px;
  }

  .description {
    font-size: 13.5px;
  }

  .hero-buttons {
    font-size: 13.5px;
  }
  .photo-part {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  /* services */
  .services {
    max-width: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    --serviceBlock-width: 100%;
    padding: 0;
    p {
      color: rgb(104, 96, 96);
      font-weight: 400;
      font-size: 13.5px;
    }
    h3 {
      font-size: 18px;
      padding-bottom: 10px;
    }
  }

  .block {
    width: calc(100% / 2 - 50px);
    position: static;
    padding: 30px;
    img {
      width: 30%;
    }
  }

  .block-1 {
    padding: 0;
    padding-left: 30px;
    h2 {
      font-size: 30px;
    }
  }
}

@media (max-width: 568px) {
  .others {
    width: 100%;
  }

  .informations-list-other {
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 100%;
  }

  .subscribe-other {
    padding-left: 50px;
    padding-right: 50px;
  }

  .hero {
    width: 100%;
    max-width: 100vw;
  }

  .explore {
    font-size: 12px;
  }

  .title {
    font-size: 35px;
  }

  .description {
    font-size: 12px;
  }

  .hero-buttons {
    font-size: 12px;
    flex-direction: column;
  }

  .plan {
    padding-bottom: 50px;
  }

  .watch-story {
    img {
      width: 50px;
      bottom: 15px;
    }

    .fa-play {
      font-size: 8px;
      position: relative;
      bottom: 8px;
      right: 15px;
      top: -4px;
      background-color: white;
      color: black;
      padding: 10px;
      border-radius: 90px;
    }
  }

  .block {
    width: 80%;
    position: static;
    padding: 25px;
    img {
      width: 30%;
    }
  }

  .block-1 {
    padding: 40px;
  }
}
