* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: rgb(243, 228, 204);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

a:focus,
a:active,
button:focus,
button:active {
  outline: none;
  background-color: inherit;
}

/* navbar */

header {
  background-color: rgb(243, 228, 204);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0;
  font-size: 13px;
  font-weight: 600;
  transition: transform 1s ease-in-out;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding-bottom: 15px;
  transform: translateY(0%);
  transition: transform 1s ease-in-out;
}

.header-logo {
  img {
    width: 120px;
  }
}

.informations {
  width: 40%;
  max-width: 500px;
}

.informations .informations-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
}

.sign-up {
  padding: 15px 20px;
  background-color: blue;
  color: rgb(243, 228, 204);
  border-radius: 50px;
  width: fit-content;
  transition: background-color 0.8s ease;
}

.sign-up:hover {
  background-color: rgb(59, 0, 114);
}

.sign-up:active,
.sign-up:focus {
  background-color: blueviolet;
  outline: none;
}

.sign-up:hover:focus,
.sign-up:hover:active {
  background-color: rgb(59, 0, 114);
}

.underlined {
  border-bottom: 2px solid blue;
}

.other-devices {
  display: none;
  cursor: pointer;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

/* Hero */

.hero {
  background-color: rgb(243, 228, 204);
  display: flex;
  padding: 150px 150px;
}

.word-part {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.explore {
  padding: 10px 15px;
  background-color: rgb(214, 211, 204);
  color: rgb(162, 150, 131);
  border-radius: 30px;
  font-weight: 500;
}

.explore img {
  position: relative;
  top: 4px;
  width: 30px;
  padding-left: 10px;
}

.title {
  padding: 40px 0;
  font-size: 50px;
}

.description {
  color: rgb(104, 96, 96);
  font-weight: 500;
  padding-bottom: 50px;
}

.hero-buttons {
  font-weight: 500;
  display: flex;
}

.plan a {
  background-color: red;
  color: white;
  padding: 15px 20px;
  border-radius: 30px;
  margin-right: 40px;
}

.watch-story {
  display: flex;

  img {
    width: 75px;
    position: relative;
    bottom: 25px;
    border-radius: 90px;
  }

  .fa-play {
    position: relative;
    bottom: 8px;
    right: 20px;
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 90px;
    transition: background-color 0.8s ease;
  }
  .fa-play:hover {
    background-color: rgb(226, 225, 147);
  }

  .fa-play:active,
  .fa-play:focus {
    background-color: rgb(226, 225, 147);
    outline: none;
  }

  .fa-play:hover:focus,
  .fa-play:hover:active {
    background-color: rgb(226, 225, 147);
  }
}

.hero-story:hover {
  color: blueviolet;
}

.photo-part {
  width: 50%;
}

.main-hero-photo {
  width: 100%;
}

/* services */
.services {
  background-color: rgb(243, 228, 204);
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  --serviceBlock-width: 100%;
  p {
    color: rgb(104, 96, 96);
    font-weight: 400;
  }
  h3 {
    font-size: 20px;
    padding-bottom: 10px;
  }
  padding-bottom: 50px;
}

.block {
  width: calc(var(--serviceBlock-width) / 4 - 30px);
  img {
    width: 20%;
    padding-bottom: 10px;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  border-radius: 25px;
  position: relative;
}

.block-1 {
  bottom: 20px;
  .what {
    color: blueviolet;
    font-weight: 500;
    padding-bottom: 20px;
  }
  h2 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  p {
    color: rgb(104, 96, 96);
    font-weight: 400;
  }
  padding: 0;
}

.block-2 {
  bottom: 20px;
  background-color: blanchedalmond;
}

.block-3 {
  top: 20px;
  background-color: rgb(172, 241, 251);
}

.block-4 {
  bottom: 30px;
  background-color: rgb(190, 188, 186);
}

/* For the destinations */
.destinations {
  background-color: rgb(243, 228, 204);
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.top {
  color: blueviolet;
  font-weight: 600;
  padding-bottom: 20px;
}

.destination-h2 {
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 20px;
}

.all-destinations {
  position: relative;
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;

  flex-wrap: wrap;

  img {
    transition: all 0.8s ease;
  }

  img:hover {
    transform: scale(1.05);
  }
}

.image-container {
  border-radius: 50px;
  overflow: hidden; /* ensures the image doesn't overflow the div */
  position: relative; /* keeps the image contained */
  img {
    width: 100%;
    height: 100%;
    transition: all 0.8s ease;
    display: block;
  }
}

.destination {
  width: 25%;

  height: 500px;
  min-height: 300px;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  height: 100%;

  .image-container {
    border-radius: 30px;
  }

  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 22px;
  }

  .place {
    color: rgb(98, 95, 95);
    font-weight: 420;
    margin-bottom: 10px;
  }
}

.price {
  position: absolute;
  width: 100px;
  color: blueviolet;
  background-color: white;
  padding: 10px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  border-radius: 20px;
  bottom: 80%;
  left: 65%;
  z-index: 1;
}

.review {
  display: flex;
  width: 100%;
}

.star {
  background-color: rgb(218, 246, 159);
  padding: 3px 10px;
  border-radius: 20px;
  margin-right: 10px;
  font-weight: 500;
}

.fa-star {
  color: rgb(203, 203, 69);
  margin-right: 5px;
}

.star-description {
  padding: 3px 0;
  color: rgb(98, 95, 95);
  font-weight: 420;
}

.view {
  color: white;
  background-color: blueviolet;
  border-radius: 25px;
  padding: 10px 15px;
  margin-top: 25px;
  font-weight: 600;
  transition: background-color 0.8s ease;
}

.view:hover {
  background-color: rgb(59, 0, 114);
}

.view:active,
.view:focus {
  background-color: blueviolet;
  outline: none;
}

.view:hover:focus,
.view:hover:active {
  background-color: rgb(59, 0, 114);
}
/* Experience part*/
.experience {
  margin: 0 50px;
  margin-top: 100px;
  display: flex;
}
.img-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  img {
    width: 70%;
  }
}

#exp-logo {
  width: 17.5%;
  position: absolute;
  bottom: 25%;
  left: 10%;
}

.the-experience {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-top: 70px;
}

.experience-description {
  color: rgb(98, 95, 95);
  font-weight: 420;
  margin-bottom: 20px;
}

.squares {
  display: flex;
  span {
    color: blueviolet;
    font-size: 40px;
    font-weight: 900;
  }
}

.square {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.square-1 {
  width: 17%;
}

.big {
  color: blueviolet;
  font-size: 40px;
  font-weight: 700;
}

/* Travelers */

.travelers {
  margin: 100px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photos {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;

  .travelers-photo {
    width: 100%;
    border-radius: 20px;
  }
}

.pho3 {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
  height: 100%;
}

.pho1 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.pho4 {
  height: 100%;
}
.pho5 {
  grid-column: 1 / 3;
  height: 100%;
}
.pho6 {
  grid-column: 4 / 5;
  height: 100%;
}
/* Media Queries */
@media (max-width: 786px) {
  .informations {
    display: none;
    cursor: pointer;
  }

  .subscribe {
    display: none;
    cursor: pointer;
  }

  .menu-icon {
    display: block;
    font-size: 25px;
    margin-right: 40px;
  }

  header {
    justify-content: space-between;
  }

  .header-logo {
    img {
      margin-left: 40px;
    }
  }

  .other-devices {
    display: block;
  }

  .others {
    background-color: rgb(246, 244, 242);
    margin-top: 70px;
    padding-top: 40px;
    position: fixed;
    top: 0;
    height: calc(100vh - 70px);
    width: 50%;
    font-weight: 500;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 18px;
    transform: translateX(100%);
    transition: all 0.8s ease-in-out;
    z-index: 1000;
  }

  .informations-other {
    width: 100%;
    height: 60%;
    max-height: 500px;
    gap: 50px;
    margin-bottom: 200px;
  }

  .informations-list-other {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    height: 100%;
  }

  .subscribe-other {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 0;
    border-top: 1px solid rgba(130, 130, 142, 0.857);

    .login {
      margin-left: 30px;
      padding: 15px;
    }

    .sign-up {
      margin-right: 30px;
    }
  }

  .active {
    transform: translateX(-0%);
  }

  .hero {
    flex-direction: column;
    padding: 50px 50px;
  }

  .word-part {
    width: 100%;
  }

  .explore {
    font-size: 13.5px;
  }

  .title {
    font-size: 40px;
  }

  .description {
    font-size: 13.5px;
  }

  .hero-buttons {
    font-size: 13.5px;
  }
  .photo-part {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  /* services */
  .services {
    max-width: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    --serviceBlock-width: 100%;
    padding: 0;
    p {
      color: rgb(104, 96, 96);
      font-weight: 400;
      font-size: 13.5px;
    }
    h3 {
      font-size: 18px;
      padding-bottom: 10px;
    }
  }

  .block {
    width: calc(100% / 2 - 50px);
    position: static;
    padding: 30px;
    img {
      width: 30%;
    }
  }

  .block-1 {
    padding: 0;
    padding-left: 30px;
    h2 {
      font-size: 30px;
    }
  }

  /* Destinations */

  .all-destinations {
    gap: 30px;
  }

  .destination-h2 {
    font-size: 30px;
  }

  .top {
    font-size: 15px;
  }
  .destination {
    width: 45%;

    h3 {
      font-size: 18px;
    }
    p {
      font-size: 13.5px;
    }
  }

  .price {
    bottom: 81%;
    left: 62%;
    width: 80px;
    padding: 7px 12px;
    font-size: 16px;
  }

  /* Experience  */
  .experience {
    flex-direction: column;
  }

  .img-container {
    width: 100%;
    order: 2;
  }

  .the-experience {
    width: 100%;
    order: 1;
    margin: 0;
    margin-bottom: 40px;
  }

  .experience-description {
    font-size: 13.5px;
  }

  .squares {
    .big {
      font-size: 35px;
      margin-right: 10px;
    }
    justify-content: space-between;
  }

  .square {
    flex-direction: row;
    width: 25%;
    justify-content: center;
    align-items: center;
  }

  .extra {
    margin: 0;
  }

  /* Travelers */
  .travelers {
    margin: 100px 50px;
  }

  .photos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .travelers-photo {
    height: 100%;
  }
  .pho1 {
    grid-column: 1 / 2;
  }
  .pho2 {
    grid-column: 2 / 3;
  }

  .pho3 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }

  .pho4 {
    grid-column: 1 / 3;
  }

  .pho5 {
    grid-column: 1 / 3;
  }

  .pho6 {
    grid-column: 1 / 3;
  }
}

@media (max-width: 568px) {
  .others {
    width: 100%;
  }

  .informations-list-other {
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 100%;
  }

  .subscribe-other {
    padding-left: 50px;
    padding-right: 50px;
  }

  .hero {
    width: 100%;
    max-width: 100vw;
  }

  .explore {
    font-size: 12px;
  }

  .title {
    font-size: 35px;
  }

  .description {
    font-size: 12px;
  }

  .hero-buttons {
    font-size: 12px;
    flex-direction: column;
  }

  .plan {
    padding-bottom: 50px;
  }

  .watch-story {
    img {
      width: 50px;
      bottom: 15px;
    }

    .fa-play {
      font-size: 8px;
      position: relative;
      bottom: 8px;
      right: 15px;
      top: -4px;
      background-color: white;
      color: black;
      padding: 10px;
      border-radius: 90px;
    }
  }

  .block {
    width: 80%;
    position: static;
    padding: 25px;
    img {
      width: 30%;
    }
  }

  .block-1 {
    padding: 40px;
  }

  /* Destinations */
  .all-destinations {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .destination-h2 {
    font-size: 30px;
    margin: 0 30px;
  }

  .top {
    font-size: 15px;
  }
  .destination {
    width: 80%;

    h3 {
      font-size: 18px;
    }
    p {
      font-size: 13.5px;
    }
  }

  .price {
    width: 80px;
    padding: 7px 12px;
    font-size: 16px;
    left: 55%;
    bottom: 78%;
  }

  /* experience  */
  .the-experience {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .top-exp {
    text-align: center;
  }
  .squares {
    flex-direction: column;
    text-align: start;
  }

  .square {
    width: 100%;
    justify-content: start;
    margin-left: 20px;
  }

  /* Travelers */
  .travelers-h2 {
    text-align: center;
  }

  .photos {
    grid-column: 100%;
    grid-template-rows: repeat(9, 1fr);
  }

  .travelers-photo {
    height: 100%;
  }

  .pho1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  .pho2 {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
  }

  .pho3 {
    grid-column: 1 / 3;
    grid-row: 5 / 7;
  }

  .pho4 {
    grid-column: 1 / 3;
  }

  .pho5 {
    grid-column: 1 / 3;
  }

  .pho6 {
    grid-column: 1 / 3;
  }
}
